.cygnus-cart-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.cygnus-cart-table {
    width: 60%;
    display: inline-table;
    border-spacing: 0;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

.cygnus-cart-table img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}
.cygnus-cart-table th,
.cygnus-cart-table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
    height: 50px;
    width: 30%;
}

.cygnus-cart-table th {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.cygnus-cart-table button {
    background: none;
    border: none;
    color: #5ba1ff;
    cursor: pointer;
}

.cygnus-checkout {
    padding: 20px;
    position: relative;
    margin: 20px;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border-width: 1px;
    border-color: darkgray;
    border-style: solid;
}

.cygnus-checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cygnus-checkout #checkout {
    position: absolute;
    bottom: 22px;
    width: 85%;
    height: 50px;
    display: inline-block;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.cygnus-checkout #checkout:hover {
    transform: scale(1.1);
    animation: bounce 0.3s ease forwards;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.15);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.1);
    }
}