@page
@model Cygnus.Pages.OrdersModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Orders</title>
</head>
<link rel="stylesheet" href="/styles/cygnus-orders.css">
<body>
    <h1>Orders</h1>

<div class="cygnus-container">
<div class="cygnus-order-view">
    
    @foreach (var order in Model.orders)
    {
        <div class="cygnus-order-item">
            <div class="cygnus-order-info">
                @order.Invoice
            </div>
            <div class="cygnus-order-products">
                @foreach (var product in order.OrderProducts)
                {
                    <div onclick="location.href='/Product?id=@product.ProductId'" class="cygnu-order-product">
                        <img src="@product.Product.ImageUrl"/>
                        <p>@product.Product.Name</p>
                    </div>
                }
            </div>
            <hr style="width: 100%; margin-top: 10px">
        </div>
        
    }
</div>
</div>
</body>
</html>